<h1> {{ message }} </h1>
{% extends 'base.html' %}
{% import 'macros.html' as macro %}

    <!-- Content block -->
    {% block content %}

    <!--News Article-->
    <h3>News Article</h3>
    <ul>
        {{macro.displayNewList(description)}}
    </ul>
    <!-- Date of publish -->
    <h3>Published on: </h3>
    <ul>
        {{macro.displayNewList(publishedAt)}}
    </ul>
    <!-- Content -->
    <h3>content </h3>
    <ul>
        {{macro.displayNewList(relevant)}}
    </ul>
    
    {% endblock %}
